/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f2f6f7;
}

/* -----------------------------------
   ESTILOS GENERALES PARA TODOS LOS BOTONES
   ----------------------------------- */
button {
    background: #63c7b2;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #4fa094;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #63c7b2;
    padding: 12px;
    position: sticky;
    top: 0;
}

nav button {
    background: white;
    color: #333;
}

nav button:hover {
    background: #ffe7d1;
}

/* SECCIONES */
.section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.hidden {
    display: none;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
}

form button {
    width: 100%;
}

/* TABLAS */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #63c7b2;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* CATALOGO */
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
}

/* IMÁGENES PEQUEÑAS */
.mini {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    object-fit: cover;
}

/* BOTÓN CONFIRMAR COMPRA */
.btn-confirmar {
    width: 100%;
    margin-top: 20px;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 25px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-buttons button {
    margin: 8px;
}

/* TARJETAS INFORMATIVAS */
.info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.info-card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px #0002;
}

.info-card img {
    width: 60px;
    margin-bottom: 10px;
}

.info-card h3 {
    margin-bottom: 8px;
}
